In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import math as m

df=pd.read_csv("knn_data.csv")
df.head()

    x   y  class
0  10  12      1
1  13  15      2
2   1   4      1
3  12  14      2
4  10   1      1

In [2]:
x=df.iloc[:,[0,1]].values
y=df.iloc[:,-1].values

In [3]:
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size= 0.25, random_state=0)

In [4]:
print(x_train[1])

[11 17]

In [5]:
b=x_test[1]
#b=[19,14]
b

array([7, 4])

In [6]:
dis=[]
l=0
for i in x_train:
    x=m.sqrt( (i[0]-b[0])**2 + (i[1]-b[1])**2 )
    dis.append([x,y_train[l]])
    l+=1

In [7]:
dis

[[12.041594578792296, 1],
 [13.601470508735444, 2],
 [12.529964086141668, 2],
 [7.810249675906654, 1],
 [18.439088914585774, 2],
 [11.180339887498949, 2],
 [8.54400374531753, 1],
 [9.433981132056603, 2]]

In [8]:
k=3
dis.sort()

In [9]:
dis=dis[:k]
dis

[[7.810249675906654, 1], [8.54400374531753, 1], [9.433981132056603, 2]]

In [10]:
val=[]
for i in range(len(dis)):
    val.append(dis[i][1])
val

[1, 1, 2]

In [11]:
uni=[]
for i in range(len(dis)):
    if(dis[i][1] not in uni):
        uni.append(dis[i][1])

In [12]:
uni

[1, 2]

In [13]:
co=[]
for i in range(len(uni)):
    co.append(val.count(uni[i]))
co

[2, 1]

In [14]:
val[co.index(max(co))]

1